PG_DB=
PG_USER=
PG_PASSWORD=
PG_PORT=
PG_DOMAIN=

DB_URL=postgresql+asyncpg://${PG_USER}:${PG_PASSWORD}@${PG_DOMAIN}:${PG_PORT}/${PG_DB}

SECRET_KEY_JWT=
ALGORITHM=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=

REDIS_DOMAIN=
REDIS_PORT=
REDIS_PASSWORD=